body {
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #c6c6c6;
  font-size: 30px;
}
ol, ul {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
span {
  display: inline-block;
  margin: 0.5em;
}

.warning:before {
  content: "?";
  font-size: .8em;
  margin-left: 8px;
}

.warning {
  margin: 0;
  width: 30px;
}

.error:before {
  content: "!";
  font-size: .8em;
  margin-left: 11px;
}

.error {
  margin: 0;
  width: 30px;
}

.circle-error {
  margin-left: 10px;
  padding: 2px;
  background: #ff061b;
  display: inline;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.circle-warning {
  margin-left: 10px;
  padding: 2px;
  background: #CCCC00;
  display: inline;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.server {
  width: 10%;
  font-size: 145%;
}

.service {
  width: 9%;
}

.timestamp {
  width: 10%;
}

.message {
  width: 60%;
}

.odd {
  background-color: #2a2a2a;
}

.even {
  background-color: #404040;
}

.all-good {
  color:black;
  display: block;
  margin: 2em 0 1em;
  text-align: center;
}

img {
  margin: 0 auto;
  display: block;
  width: 50%;
}

.check:before {
  content: "âˆš"";
  font-size: .8em;
  color: #fff;
}

.check {
  margin: 0;
  width: 30px;
}


.circle-check {
  margin-left: 10px;
  padding: 2px 4px;
  background: #1d741f;
  display: inline;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
