/* line 17, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 * Variables
*/
/* Zen Grid variables
   ========================================================================== */
/*
 * Colors
*/
/* line 6, ../sass/framework/_colors.scss */
.green-label {
  background-color: #1d741f;
}

/* line 9, ../sass/framework/_colors.scss */
.yellow-label {
  background-color: #ff6227;
}

/* line 12, ../sass/framework/_colors.scss */
.red-label {
  background-color: #ff061b;
}

/* line 17, ../sass/framework/_colors.scss */
.rasmus-label {
  background-color: #004979;
}

/* line 20, ../sass/framework/_colors.scss */
.thomas-label {
  background-color: #ff762a;
}

/* line 23, ../sass/framework/_colors.scss */
.jesper-label {
  background-color: #f20a15;
}

/* line 26, ../sass/framework/_colors.scss */
.brian-label {
  background-color: #351d92;
}

/* line 29, ../sass/framework/_colors.scss */
.martin-label {
  background-color: #005f68;
}

/* line 32, ../sass/framework/_colors.scss */
.steen-label {
  background-color: #a92094;
}

/* line 35, ../sass/framework/_colors.scss */
.arne-label {
  background-color: #47a91f;
}

/* line 40, ../sass/framework/_colors.scss */
.project-label-1 {
  background-color: #15a334;
}

/* line 43, ../sass/framework/_colors.scss */
.project-label-2 {
  background-color: #128c2d;
}

/* line 46, ../sass/framework/_colors.scss */
.project-label-3 {
  background-color: #0f7626;
}

/* line 49, ../sass/framework/_colors.scss */
.project-label-4 {
  background-color: #0c5f1e;
}

/* line 52, ../sass/framework/_colors.scss */
.project-label-5 {
  background-color: #094917;
}

/* line 55, ../sass/framework/_colors.scss */
.project-label-6 {
  background-color: #063210;
}

/* line 58, ../sass/framework/_colors.scss */
.project-label-7 {
  background-color: #041b09;
}

/* line 61, ../sass/framework/_colors.scss */
.project-label-8 {
  background-color: #010502;
}

/* line 65, ../sass/framework/_colors.scss */
.sec-project-label-1 {
  background-color: #175543;
}

/* line 68, ../sass/framework/_colors.scss */
.sec-project-label-2 {
  background-color: #124133;
}

/* line 71, ../sass/framework/_colors.scss */
.sec-project-label-3 {
  background-color: #0c2d23;
}

/* line 74, ../sass/framework/_colors.scss */
.sec-project-label-4 {
  background-color: #071914;
}

/* line 77, ../sass/framework/_colors.scss */
.sec-project-label-5 {
  background-color: #010504;
}

/* line 1, ../sass/framework/_base.scss */
body {
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #c6c6c6;
  font-size: 30px;
}

/* line 8, ../sass/framework/_base.scss */
body, iframe {
  height: 100%;
}

/* line 12, ../sass/framework/_base.scss */
iframe#viewer {
  display: block;
  width: 100%;
  border: none;
}

/* line 19, ../sass/framework/_base.scss */
#progress {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 0px;
  height: 1%;
  background-color: #98BE31;
  /*#EF2876;*/
  opacity: 0.8;
}

/* line 30, ../sass/framework/_base.scss */
.container {
  *position: relative;
  *zoom: 1;
  margin: 40px;
}
/* line 46, ../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.container:before, .container:after {
  content: "";
  display: table;
}
/* line 50, ../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.container:after {
  clear: both;
}

/* line 35, ../sass/framework/_base.scss */
h1.inverted {
  background-color: #000;
  color: #c6c6c6;
  padding: 5px;
  font-size: 120px;
  margin-bottom: 20px;
}

/* line 43, ../sass/framework/_base.scss */
.primary-content {
  float: left;
  width: 66.66667%;
  margin-left: 0%;
  margin-right: -66.66667%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/js/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  padding-left: 0;
}

/* line 48, ../sass/framework/_base.scss */
.secondary-content {
  float: right;
  width: 33.33333%;
  margin-right: 0%;
  margin-left: -33.33333%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/js/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  padding-right: 0;
}

/*
 * Important dates document
 */
/* line 5, ../sass/modules/_important_dates.scss */
.calendar {
  padding: 0;
  margin-top: 50px;
  width: 100%;
  color: white;
}
/* line 12, ../sass/modules/_important_dates.scss */
.calendar td,
.calendar th {
  padding: 10px 5px 10px 5px;
  font-size: 40px;
}
/* line 16, ../sass/modules/_important_dates.scss */
.calendar td.heading,
.calendar th.heading {
  font-size: 60px;
  color: #c6c6c6;
  background-color: black;
  border-bottom: 2px solid #c6c6c6;
}
/* line 24, ../sass/modules/_important_dates.scss */
.calendar .odd {
  background-color: #2a2a2a;
}
/* line 27, ../sass/modules/_important_dates.scss */
.calendar .even {
  background-color: #404040;
}

/*
 * Current sprint document
 */
/* line 5, ../sass/modules/_current_sprint.scss */
.infobox {
  background-color: #404040;
  padding: 10px;
  color: white;
  text-align: right;
  margin-bottom: 40px;
}

/* line 13, ../sass/modules/_current_sprint.scss */
.meta-label {
  clear: both;
  background-color: black;
  color: #c6c6c6;
  padding: 4px;
  margin-bottom: 10px;
}

/* line 22, ../sass/modules/_current_sprint.scss */
.primary-content .meta-label {
  font-size: 150%;
}

/* line 28, ../sass/modules/_current_sprint.scss */
.item-list li {
  display: inline-block;
  padding: 2px 5px 2px 5px;
  margin-bottom: 10px;
}

/* line 36, ../sass/modules/_current_sprint.scss */
.project-diagram .project-name {
  clear: both;
  float: left;
  height: 60px;
  font-size: 120%;
  min-width: 300px;
  line-height: 60px;
  padding-left: 10px;
  border-right: 4px solid #c6c6c6;
}
/* line 46, ../sass/modules/_current_sprint.scss */
.project-diagram .progress {
  float: left;
  height: 60px;
  margin-bottom: 10px;
}
/* line 52, ../sass/modules/_current_sprint.scss */
.project-diagram .last {
  margin-bottom: 40px;
}

/* line 1, ../sass/modules/_scrum_log.scss */
.scrum-card {
  margin-bottom: 40px;
  font-size: 85%;
}
/* line 5, ../sass/modules/_scrum_log.scss */
.scrum-card.card1 {
  clear: left;
  float: left;
  width: 25%;
  margin-left: 0%;
  margin-right: -25%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/js/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  padding-left: 0;
}
/* line 11, ../sass/modules/_scrum_log.scss */
.scrum-card.card2 {
  float: left;
  width: 25%;
  margin-left: 25%;
  margin-right: -50%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/js/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}
/* line 14, ../sass/modules/_scrum_log.scss */
.scrum-card.card3 {
  float: left;
  width: 25%;
  margin-left: 50%;
  margin-right: -75%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/js/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}
/* line 17, ../sass/modules/_scrum_log.scss */
.scrum-card.card4 {
  float: left;
  width: 25%;
  margin-left: 75%;
  margin-right: -100%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/js/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  padding-right: 0;
}
/* line 23, ../sass/modules/_scrum_log.scss */
.scrum-card .label {
  background-color: #2a2a2a;
  margin-bottom: 10px;
}
/* line 28, ../sass/modules/_scrum_log.scss */
.scrum-card .scrum-card-inner {
  background-color: #2a2a2a;
  padding: 10px;
}
/* line 32, ../sass/modules/_scrum_log.scss */
.scrum-card .scrum-card-inner.card-info {
  background-color: #404040;
}
/* line 37, ../sass/modules/_scrum_log.scss */
.scrum-card h2 {
  padding: 5px;
  font-size: 110%;
}
/* line 42, ../sass/modules/_scrum_log.scss */
.scrum-card ul {
  margin-top: 10px;
}
/* line 47, ../sass/modules/_scrum_log.scss */
.scrum-card li,
.scrum-card p {
  margin-bottom: 15px;
  line-height: 1.3em;
}
/* line 51, ../sass/modules/_scrum_log.scss */
.scrum-card li label,
.scrum-card p label {
  background-color: #c6c6c6;
  color: #2a2a2a;
  padding: 2px;
  display: inline-block;
}
