/*
 * Current sprint document
 */

 .resource-box,
 .focus-projects {
  background-color:  #404040;
  padding: 10px;
  color: #fff;
  text-align: right;
  margin-bottom: 20px;
 }

.sprint-meta-data li {
  margin-bottom: 20px;
}
 
 .sprint-meta-data ul li {
  display: inline;
 }

 .meta-label {
  background-color: #000;
  padding: 4px;
  margin-bottom: 5px;
  display: block;
 }