/*
 * Important dates document
 */

.calendar {
  padding: 0;
  margin-top: 50px;
  width: 100%;
  color: $white;

  td,
  th {
    padding: 10px 5px 10px 5px;
    font-size: 40px;

    &.heading {
      font-size: 60px;
      color: $light-grey;
      background-color: $black;
      border-bottom: 2px solid $light-grey;
    }
  }

  .odd {
    background-color: $dark-grey;
  }
  .even {
    background-color: $grey;
  }
}