body {
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #c6c6c6;
  font-size: 30px;
}

body, iframe {
  height: 100%;
}

iframe#viewer {
  display:block;
  width:100%; 
  border:none;
}

p {
  margin-bottom: 20px;
}

// Progress indicator at top of rotator page
#progress {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 0px;
  height: 1%;
  background-color: #98BE31; /*#EF2876;*/
  opacity: 0.8;
}

.container {
  @include zen-grid-container;
  margin: 40px;
}

h1.inverted {
  background-color: #000;
  color: #c6c6c6;
  padding: 5px;
  font-size: 120px;
  margin-bottom: 20px;
}

h2.inverted {
  background-color: #000;
  color: #c6c6c6;
  padding: 5px;
  font-size: 50px;
}


.primary-content {
  @include zen-grid-item(8, 1);
  padding-left: 0;
}

.secondary-content {
  @include zen-grid-item(4, 1, right);
  padding-right: 0;
}