/*
 * Colors
*/

// Alerts
.green-label {
  background-color: $green;
}
.yellow-label {
  background-color: $yellow;
}
.red-label {
  background-color: $red;
}

// People
.rasmus-label {
  background-color: $rasmus-bg-color;
}
.thomas-label {
  background-color: $thomas-bg-color;
}
.jesper-label {
  background-color: $jesper-bg-color;
}
.brian-label {
  background-color: $brian-bg-color;
}
.martin-label {
  background-color: $martin-bg-color;
}

// Projects
.project-label-1 {
  background-color: $project-1-bg-color;
}
.project-label-2 {
  background-color: $project-2-bg-color;
}
.project-label-3 {
  background-color: $project-3-bg-color;
}
.project-label-4 {
  background-color: $project-4-bg-color;
}
.project-label-5 {
  background-color: $project-5-bg-color;
}
.project-label-6 {
  background-color: $project-6-bg-color;
}
.project-label-7 {
  background-color: $project-7-bg-color;
}
.project-label-8 {
  background-color: $project-8-bg-color;
}

.sec-project-label-1 {
  background-color: $sec-project-1-bg-color;
}
.sec-project-label-2 {
  background-color: $sec-project-2-bg-color;
}
.sec-project-label-3 {
  background-color: $sec-project-3-bg-color;
}
.sec-project-label-4 {
  background-color: $sec-project-4-bg-color;
}
.sec-project-label-5 {
  background-color: $sec-project-5-bg-color;
}